.container{
 /* background-color: blueviolet; */
}

.banner{
    /* width: 100%; */
    /* height: 200px; */
}

.slide{
    margin-right: 5px;
}

.img-carosel{
    
}

#content-right{
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    flex-direction: row;
}

.img_banner{
    height: 45%;
}